/*region common*/
.page {
    display: grid;
    grid-template-rows: 100px auto;
    row-gap: 25px;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    align-items: center;
    padding: 20px 0;
}

.header .title {
    font-size: 24px;
    font-weight: bold;
}

.deno-logo {
    height: 50px;
    width: 50px;
}

.footer {
    margin: auto;
}

.resize-none {
    resize: none;
}
/*endregion*/

/*region entriesManagement*/
.entries-management {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
}

.entries-management .panel {
    padding: 24px 9px;
    border: solid var(--bs-border-color) 1px;
    border-radius: var(--bs-border-radius);
}

.entries-management .left-panel-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 24px;
}

.entries-management .action-container {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0 15px;
}
/*endregion*/

/*region entriesList*/
.entries-list {
    height: 615px;
    max-height: 615px;
    overflow-y: auto;
    padding: 0 15px;
}

.entries-list .table-header {
    position: sticky;
    top: 0;
}

.entries-list .empty-table {
    display: grid;
    height: 100%;
}

.entries-list .empty-table .info-text {
    align-self: center;
    justify-self: center;
    margin-bottom: 78px;
}

.entries-list .table-row {
    cursor: pointer;
}

.entries-list .type-col {
    width: 140px;
}
/*endregion*/

/*region createEntryModal*/
.create-entry-modal .value-form-control {
    min-height: 210px;
}
/*endregion*/

/*region entryDetail*/
.entry-detail,
.entry-detail-empty {
    display: grid;
    height: 100%;
}

.entry-detail {
    grid-template-rows: auto 1fr;
    row-gap: 24px;
}

.entry-detail-empty .info-text {
    align-self: center;
    justify-self: center;
}

.entry-detail .header,
.entry-detail .form {
    padding: 0 15px;
}

.entry-detail .header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.entry-detail .form {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.entry-detail .value-form-control {
    height: 355px;
}
/*endregion*/