/*#region common*/
body {
    height: 100vh;
}

.page {
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.header {
    display: grid;
    align-items: center;
    padding: 20px 0;
}

.header .title {
    font-size: 24px;
    font-weight: bold;
}

.logo {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 4px;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.deno-logo {
    height: 55px;
    width: 55px;
}

.footer {
    margin: auto;
}

.resize-none {
    resize: none;
}

.panel {
    padding: 24px 9px;
    border: solid var(--bs-border-color) 1px;
    border-radius: var(--bs-border-radius);
}

.action-container {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 24px;

    border-bottom: solid var(--bs-border-color) 1px;
    padding: 24px;
}

/*#endregion*/

/*#region sidebar*/
.sidebar {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 24px;

    padding: 24px 12px 12px 12px;
    border-right: solid var(--bs-border-color) 1px;
}

.sidebar .navigation {
    width: 100%;
}

.sidebar .navigation-list {
    border-radius: 0;
}

.sidebar .navigation-list-item {
    border: none;
    border-radius: 4px;

    cursor: pointer;
    margin-bottom: 8px;
    padding: 0;
}

.sidebar .navigation-list-item a {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 16px;
    padding: 8px 16px;
    color: var(--bs-text-color);
}

.sidebar .navigation-list-item:hover {
    cursor: pointer;
    background-color: var(--bs-secondary-bg);
}

.sidebar .navigation-list-item.active:hover {
    background-color: var(--bs-list-group-active-bg)
}

.sidebar .navigation-list-item svg {
    color: #000000;
}

.sidebar .navigation-list-item.active svg,
.sidebar .navigation-list-item.active a {
    color: #FFFFFF;
}

.sidebar .second-navigation {
    width: 100%;
}

.sidebar .second-navigation .divider hr {
    margin: 14px 0;
}

.sidebar .github-link {
    cursor: pointer;
}

/*#endregion*/

/*#region entriesManagement*/
.entries-management {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.entries-management .selected-information {
    border-bottom: solid var(--bs-border-color) 1px;
    padding: 6px 24px;
    font-size: 14px;
}

.entries-management .entries-list-container {
    position: relative;
}

.entries-management .entries-list-container .entries-list {
    position: absolute;
}

.entries-management .search-form-control {
    max-width: 350px;
}

/*#endregion*/

/*#region entriesList*/
.entries-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0 8px 8px 0;
}

.entries-list .table {
    table-layout: fixed;
}

.entries-list .table-header {
    position: sticky;
    top: 0;
}

.entries-list .empty-table {
    display: grid;
    height: 100%;
}

.entries-list .empty-table .info-text {
    align-self: center;
    justify-self: center;
    margin-bottom: 78px;
}

.entries-list .select-col {
    width: 47px;
}

.entries-list .type-col {
    width: 140px;
}

.entries-list .actions-col {
    width: 70px;
}

.entries-list tr {
    cursor: pointer;
}

.entries-list td {
    vertical-align: middle;
}

.entries-list .edit-btn {
    border-style: none;
    line-height: 1;
    padding: 6px;
}

/*#endregion*/

/*#region createEntryModal*/
.create-entry-modal .value-form-control {
    min-height: 210px;
}

/*#endregion*/

/*#region entryDetail*/
.entry-detail,
.entry-detail-empty {
    display: grid;
    height: 100%;
}

.entry-detail {
    grid-template-rows: auto 1fr;
}

.entry-detail .back-btn {
    line-height: 1;
}

.entry-detail .back-btn:hover {
    cursor: pointer;
    background-color: var(--bs-secondary-bg);
}

.entry-detail-empty .info-text {
    align-self: center;
    justify-self: center;
}

.entry-detail .btn-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 8px;
}

.entry-detail .detail-container {
    padding: 24px;
    margin: 0 auto;
    width: 100%;
    max-width: 992px;
}

.entry-detail .remove-btn {
    display: inline-grid;
    align-items: center;
    justify-items: center;
}

.entry-detail .form {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.entry-detail .value-form-control {
    height: 240px;
}

/*#endregion*/

/*#region queueManagement*/
.queue-management {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr 450px;
}

.queue-management .received-information {
    border-bottom: solid var(--bs-border-color) 1px;
    padding: 6px 24px;
    font-size: 14px;
}

.queue-management .top-panel-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 24px;
}

.queue-management .queue-data-list-container {
    position: relative;
    border-bottom: solid var(--bs-border-color) 1px;
}

.queue-management .queue-data-list-container .queue-data-list {
    position: absolute;
}

/*#endregion*/

/*#region queueDataList*/
.queue-data-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0 8px 8px 0;
}

.queue-data-list .empty-table {
    display: grid;
    height: 100%;
    width: 100%;
}

.queue-data-list .empty-table .info-text {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.queue-data-list .table {
    table-layout: fixed;
}

.queue-data-list .table-header {
    position: sticky;
    top: 0;
}

.queue-data-list .received-date-col {
    width: 200px;
    padding-left: 24px;
}

.queue-data-list .type-col {
    width: 115px;
}

.queue-data-list td:first-child {
    padding-left: 24px;
}

/*#endregion*/

/*#region queueValuePublisher*/
.queue-value-publisher {
    padding: 24px;
}

.queue-value-publisher form {
    display: grid;
    grid-template-rows: auto 278px auto;
}

.queue-value-publisher .value-form-control {
    min-height: 200px;
}

/*#endregion*/